{% extends "blog/base.html" %}

{% block content %}
   {% for getData in posts %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ getData.author }}</a>
                        <small class="text-muted">{{ getData.date_posted|date:"F d, Y" }}</small>
                </div>
                <h2><a class="article-title" href="{% url 'post-detail' getData.id %}">{{ getData.title }}</a></h2>
                <p class="article-content">{{ getData.content }}</p>
            </div>
        </article>
   {% endfor %}
{% endblock content %}
